---
title: Tech Talks
---

<div class="techtalks-page">

  <%- data.events.techtalks.each do |tt| %>

    <div class="techtalk">
      <h1> TechTalk #<%= tt.number %>: <%= tt.title %> </h1>

      <%- if tt.image_path %>
        <img src="<%= tt.image_path %>">
      <%- end %>

      <ul>
        <%- tt.sessions.each do |session| %>
          <li>
            <strong>
              <%= session.title %>
            </strong> -
            <%= session.speaker %>
          </li>
        <%- end %>
      </ul>
    </div>
  <%- end %>
</div>
